.table-container {
  display: flex;
  align-items: flex-start;
  padding: 0rem 1rem;
}

.table-title {
  text-align: center;
}

.table-body {
  text-align: center;
}
.title-table {
  color: #050A30;
  font-weight: 800;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: rgb(20, 143, 86);
}

.content-table {
  margin: 25px 0;
  font-size: 1.1rem;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #378E66;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
  text-align: center;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #378E66;
}

.expenses-container {
  background-color: white;
  padding: 1rem;
  border-radius: 15px;
}