.table-container {
  display: flex;
  align-items: flex-start;
  padding: 0rem 1rem;
}

.table-title {
  text-align: center;
}

.table-body {
  text-align: center;
}

.title-table {
  color: #050A30;
  font-weight: 800;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--medium-green);
  margin-bottom: 0px;
}

.content-table {
  margin: 25px 0;
  font-size: 1.1rem;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: var(--semi-darker-green);
  color: var(--white);
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
  text-align: center;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: var(--background-green);
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid var(--medium-green);
}

/* .expenses-container {
} */