.header-bar {
  display: flex;
  background-color: var(--darker-green);
  color: white;
  height: 80px;
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expense-container{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header-icon {
  font-size: 45px;
  color: var(--yellow);
}

.header-text {
  color: var(--white);
  font-weight: 500;
}

.icon-container {
  display: flex;
  align-items: center;
}