.main-login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-image {
  max-height: 33rem;
}

.login-container {
  background-color: var(--white);
  padding: 1rem;
  border-radius: 15px;
}

.title-login {
  color: #050A30;
  font-weight: 800;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--darker-green);
}

.login-button {
  padding: 15px;
  color: var(--input-brackground);
  background-color: var(--darker-green);
  border-radius: 10px;
  border: none;
  font-weight: 800;
}

.login-button:hover {
  background-color: var(--medium-green);
  cursor: pointer;
}

.login-button:disabled {
  background-color: var(--disabled-button);
  cursor:auto;
}

.input-form{
  padding: 15px 15px;
  border: none;
  background: transparent;
  display: block;
  background-color: var(--input-brackground);
  border-radius: 5px;
  color: var(--dark-blue);
  border: none;
  width:100%;
}

.input-form:hover,
.input-form:active, 
.input-form:focus{
  outline: none;
  font-weight: 600;
}